/*
ionic: 348x250
versa: 300x300
*/

.defaultText {
  font-size: 32;
  font-family: System-Regular;
  font-weight: regular;
  text-length: 32;
}

.fill {
  x: 0;
  y: 0;
  width: 100%;
  height: 100%;
}

.power-bar {
  x: 0;
  y: 0;
  width: 100%;
  height: 70;
}
#power-mask > rect {
  x: 0;
  y: 0;
  width: 0;
}

.icon-bar {
  x: 0;
  y: 262;
  width: 100%;
  height: 38;
}
#icon-mask > rect {
  x: 80;
  y: 0;
  width: 35;
}

#main-screen {
  x: 60;
  y: 85;
  width: 237;
  height: 157;
}

.tile {
  display: none;
}

.tile-default {
  display: inline;
}

#console {
  fill: #02E7F9;
  font-family: System-Regular;
  text-overflow: ellipsis;
  x: 5;
  y: 5;
  width: 98%;
  height: 98%;
}
#console-head {
  text-decoration: underline;
  text-anchor: middle;
  text-length: 100;
}
#console-body {
  y: 38;
  font-size: 32;
  fill: white;
}

.console-debug {
  height: 9999;
}

#console-debug {
  fill: white;
  text-length: 9999;
  font-size: 24;
}
#console-debug-background {
  fill: black;
  opacity: .9;
}

#demo {
  cx: 145;
  cy: 55;
  r: 10;
  fill: red
}

.background {
  y: 0;
  height: 120%;
}